@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.hat{
    background-color: #999999;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 7vw;

}
a{
    text-decoration: none;
}
.hat a{
    color: initial;
    font-size: 2vw;
    padding-right: 3vw;
}
.hat a:hover{
    color: aqua;
}
.hat_main{
    margin: 2vw;
    float: left;
    position: absolute;
}
.login{
    margin-top:2vw ;
    float: right;
    position: fixed;
    right: 0;
}
.content{
    min-height: 90vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 7vw;
    box-shadow: 6px 4px 10px 6px gray;
}
.form_singIn input{
    width: 35vw;
    height: 20px;
    border: 0;
    box-shadow: 0 0 15px 1px gray;
    border-radius: 30px;
    padding: 15px;
}
.form_singIn{
    padding: 60px 0 0 20vw;
}


.container {
  width: 200px;
  height: 100px;
  position: absolute;
  margin-left: 135px;
  top: 360px;
  transform: translate(-60%, -45%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #5CA4EA;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  box-shadow: 0 0 10px 8px #5CA4EA;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.error404{
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Lato';
}
.error_img{
    width: 50vw;
    height: auto;
    box-shadow: 0 0 300px 20px lightgrey;
    margin-left:20px ;
    border-radius: 30px;
}
.flash{
    margin-left: 20vw;
    margin-top: 2vw;
    position: absolute;
    padding: 5px;
    width: 15vw;
    height: 2vw;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
        box-shadow: 0 0 5px 3px #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
        box-shadow: 0 0 5px 3px #FF9C9C;
}

.wrap {
    margin-top: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button1::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button1:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button1:hover::before, button:focus::before {
  opacity: 1;
}

.button1::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button1:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.add_description{
    width: 37vw;
    height: 150px;
    margin-left: 20vw;
    border: 0;
    box-shadow: 0 0 15px 1px gray;
    border-radius: 30px;

}