{% extends 'base.html' %}

{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form method="post">
    <div class="form_singIn">
        <p><input placeholder="...Name.." name="name" type="text" value="" required></p>
        <p><input placeholder="...Prise.." name="prise" type="text" value="" required></p>
    </div>
    <div>
         <p><textarea class="add_description" placeholder="...Description.." name="description" type="text" value="" required></textarea></p>
        <div class="wrap">
            <button type="submit" class="button1">Добавить запись</button>
        </div>

    </div>
</form>

{% endblock %}
