{% extends 'base.html' %}

{% block content %}
{% for cat,msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="profile">
    <div class="avatar"><img src="{{ url_for('userava') }}" ></div>
    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Upload"></p>
    </form>
    <h1>{{current_user.get_name()}}</h1>
    <h1>{{current_user.get_email()}}</h1>
</div>

{% endblock %}